﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Netlog Studycase</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/TemplasteDocs/images/logo.png" />


    <link href="~/TemplasteDocs/css/style.css" rel="stylesheet">

</head>

<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20"
                        fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">

        <div class="nav-header">
            <div class="brand-logo">
                <a>
                    <b class="logo-abbr"><img src="~/TemplasteDocs/images/logo.png" alt="" style="height:25px; width:25px;"> </b>
                    <span class="logo-compact"><img src="~/TemplasteDocs/images/logo.png" alt="" style="height:50px; width:50px;"></span>
                    <span class="brand-title">
                        <img src="~/TemplasteDocs/images/logo.png" alt="" style="height:50px; width:50px;">
                    </span>
                </a>
            </div>
        </div>

        <!-- Header -->
        @await Component.InvokeAsync("Header")

        <!-- Sidebar -->
        @await Component.InvokeAsync("Sidebar")

        <!-- İçerik -->
        <div class="content-body">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <!-- Footer -->
        @await Component.InvokeAsync("Footer")

    </div>

    <script src="~/TemplasteDocs/plugins/common/common.min.js"></script>
    <script src="~/TemplasteDocs/js/custom.min.js"></script>
    <script src="~/TemplasteDocs/js/settings.js"></script>
    <script src="~/TemplasteDocs/js/gleek.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>