@model SidebarViewModel
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            @if (Model.Role == "Admin")
            {
                <li>
                    <a asp-controller="Admin" asp-action="Index" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i>
                        <span class="nav-text">Panel</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Index" aria-expanded="false">
                        <i class="icon-people menu-icon"></i>
                        <span class="nav-text">Kullanıcılar</span>
                    </a>
                </li>
            }
            else if (Model.Role == "Opener")
            {
                <li>
                    <a asp-controller="Opener" asp-action="Index" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i>
                        <span class="nav-text">Panel</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Opener" asp-action="Create" aria-expanded="false">
                        <i class="icon-plus menu-icon"></i>
                        <span class="nav-text">Yeni Task</span>
                    </a>
                </li>
            }
            else if (Model.Role == "Analyst")
            {
                <li>
                    <a asp-controller="Analyst" asp-action="Index" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i>
                        <span class="nav-text">Panel</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Analyst" asp-action="Index" aria-expanded="false">
                        <i class="icon-magnifier menu-icon"></i>
                        <span class="nav-text">Task'lar</span>
                    </a>
                </li>
            }
            else if (Model.Role == "Developer")
            {
                <li>
                    <a asp-controller="Developer" asp-action="Index" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i>
                        <span class="nav-text">Panel</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Developer" asp-action="Index" aria-expanded="false">
                        <i class="icon-layers menu-icon"></i>
                        <span class="nav-text">Task'larım</span>
                    </a>
                </li>
            }

            <li>
                <a asp-controller="Auth" asp-action="PwdReset" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i>
                    <span class="nav-text">Şifre Sıfırla</span>
                </a>
            </li>

        </ul>
    </div>
</div>